/* Applying Google font over the website */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Scaling container for dynamic resizing */
#scale-container {
    transform-origin: top left;
    width: 100vw; /* Viewport width */
    height: auto;
}

/* Styling menu icon */
.nav-menu {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #fca61f;
}

/* Styling navbar links */
.navbar-nav a {
    color: black;
    position: relative;
}
.navbar-nav a:hover {
    color: #fca61f;
}
.navbar-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: #fca61f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-nav a:hover:after {
    width: 100%;
    left: 0;
}

/* Styling contact button */
.c-btn {
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Home section styles */
.home {
    background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235,249,255,1) 100%);
    padding: 30px 0;
}
.home h2 {
    font-size: 3rem;
    line-height: 4rem;
}
.c-orange {
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}
.home p {
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* Expertise section styles */
.expertise .service-card {
    text-align: center;
    padding: 15px;
    border-radius: 0.7rem;
}

/* Portfolio section styles */
.pricing-section {
    padding: 40px;
    text-align: center;
}
.pricing-section .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.pricing-section .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 280px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.pricing-section .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Footer section styles */
footer {
    background-color: #211e39;
    color: #6c757d;
    padding: 20px 0;
    text-align: center;
}
footer .link-group a {
    margin: 0 10px;
    text-decoration: none;
    color: #6c757d;
}
footer .link-group a:hover {
    color: #fca61f;
}
